*.orig
*.rej
*~
*.o
tests/*.err
*.dll
*.exe
*.xll
*.suo
bin/**
obj/**
packages/**
*.xlsx
*.onetoc2
*.one
Upgrade*
*bak
desktop.ini
*.xap
*.pdf
*.pdb
*.exe.config
*.xap
*.7z
*.apk
*.user
*.hgsubstate
node_modules/*
.idea/*
BodyPart*
StyleCop.Cache
.idea
node_modules
typings
platforms
www/bundle.js
www/styles/fonts/*